@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,700&display=swap');

@media (max-width: 370){
.newimg{
    position: relative;
    /* left: 20% */
    
}
.newimg2{
  position: absolute;
  top: 14.7%;
  /* left: 60%; */

}
.Howitworkss{
    background-color: #fafafa;
}

.works-step p {
  margin-bottom: 30px;
  padding-top: 2%;
  width: auto;
  display: block;
}

.p6{
    position: absolute;
    top: 42%;
    /* left: 80%; */
    color: white;
    font-size: 35px;
}
.Howw{
    /* margin-left: 30px; */
    margin-top: 30px;
    display: block
}
/* .phoneapp{
    margin-left: 20px;
} */
.p1{
    margin-left: 80px;
}

.work1{
   
    text-align: center !important;
    color: #777777;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625em;
    margin-bottom: 60px;
    display: block;

}

.how{
    color: yellowgreen;
    padding-top: 40px;
}
.works{
    padding-top: 30px;
    margin-top: 15px;
    color: yellowgreen
    /* margin-left: 20px; */
}
.card{
    width: 15rem; 
    border: 1px solid #ACBB16
}
 .newcad{
     margin-top:1rem 0!important} 

.coll{
    max-width: 140%;
    padding: 0px 
}
.phoneapp{
    display: "center"
}
.ios{
    margin-left: 30px
}
}
.works-step div {
  color: #ACB316;
  border: 2px solid #ACB316;
  /*display: inline-block; */
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  font-size: 150%;
  padding: 10px;
  float: left;
  margin-right: 25px;
  margin-bottom: 10px;
}

.work2{
    margin-top: 40px;  
    text-align: center !important;
    font-size: 42px;
    background: -webkit-linear-gradient(#ACBB16, #007547);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pic{
    padding-left: 110px;
}
@media(max-width: 370px), (max-width: 410px) {
    .ab1{
        font-size: 0.5rem,
    }

    .Aboutus1{
        font-size: 1rem;
    }
}
