@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,700&display=swap');
.sec{
    display: flex;
}
.header1{
    color: yellowgreen;
    font-size: larger;
    display: flex;
}
#sec1{
    margin-top: 10%;
}
.sec-badge{
    margin-right: 5%;
    align-items: center;
}