.footers{
    /* font-family: open sans; */
    text-align: center;
    background:  #343a40!important;
    
    /* padding: 15px 10px ; */
}
.foot-title{
    font-size: 22px;
    font-weight: 500;
}
a.footers{
  margin-left: 1opx;
  transition: transform 250ms;  
  display: inline-block;
}
a.footer:hover{
    transform: translateY(-2px);
}
a.facebook{
    color:#4963ad
}
a.Twitter{
    color:#49a1eb
}
a.Instagram{
    color: black
}