@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,700&display=swap');

@media (max-width: 320px) {
body{
    background: radial-gradient (#e5e5e5, #fff, #e5e5e5);
    justify-self: center;

}
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important
}

#card{
    background-color: #fafafa;
}
#farm{
    padding-bottom: 60px;
    margin: 1rem
}
.card-body{
    padding: 1rem 0!important
}
.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}
.card-text1{
    font-size: 0.9rem;
    padding: 0.4rem 0.6rem;
}

.container-fluid .row{
    padding-top: 2.5rem;
}
.overflow{
    overflow: hidden
}
.card-img-top{
    transform:scale(1);
    transition:transform 0.5s ease;
    /* position: absolute; */
    /* top: 60px; */
    /* left: 80px; */
}
.soldout{
    position: absolute;
      bottom: 207px;
      left: 0px;
      fill-opacity: 0.5;
      width: 40px
}
.open{
    position: absolute;
      bottom: 207px;
      left: 0px;
      fill-opacity: 0.5;
      width: 40px
}
.card-img-top:hover{
    transform: scale(1.8);
}
}

.f1{
    color:yellowgreen;
    text-align: center;
    padding-top: 6rem;
     background: -webkit-linear-gradient(#ACBB16, #007547);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@media(max-width: 320px), (max-width: 400px) {
    .card-body{
        font-size: 0.5rem,
    }

    #card{
        font-size: 1rem;
    }
}