  @import url('https://fonts.googleapis.com/css?family=Open sans+sans-serif');
  
@media(max-width 410px) {
  
}
 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.body{
  background: #777777;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Lora', serif; */
}


.newimg{
  position: relative;
  
}
.newimg2{
position: absolute;
top: 18.7%;
left: 10%;

}
