#footers{
    /* font-family: open sans; */
    /* text-align: center; */
    background:  #343a40!important;
    display: flex;
     justify-content: center;
     padding-left: 30px;
     

    
    

}
.foot-title{
    font-size: 22px;
    font-weight: 500;
    color: yellowgreen;
    margin-left: 20px
}
a.footers{
  margin-left: 40%;
  justify-content: center;
  transition: transform 250ms;  
  display: inline-block;
   
}
.facebooksocial{
    margin-left: 30px;
    margin-right: 30px;
}
.Twitter social{
    margin-left: 30px;
    margin-right: 30px;
}
.Instagram-social{
    margin-left: 30px;
    margin-right: 30px;
}
a.footer:hover{
    transform: translateY(-2px);
}
a.facebook{
    color:#4963ad
}
a.Twitter{
    color:#49a1eb
}
a.Instagram{
    color: black
}