@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans:400,700&display=swap');

.body{
    /* display: flex; */

    /* padding: 0px 10px 10px 72px ; */
    background-color:radial-ingredient(#e5e5e5, #fff, #e5e5e5)
}

.nav1{
   /* display: flex; */
    justify-content: space-between;
     align-content: space-between;
     padding: 1rem 0rem 0rem 0rem;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
    /* margin-bottom: 1rem;   */
    color: rgb(154, 205, 50); 
    
}
#reg1{
  margin-left: 40px;
  margin-right: 40px;
}
.span1{
  
  margin-top: 2px;
  display: inline-block;
  line-height: 20px;
}


@media (min-width: 992px) {
    .jum {
      margin-bottom: 200px;
      justify-items: center;
      display: -webkit-box;
      display: -ms-flexbox;

      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .text-bold{
         font-weight: 700;
    }
    .text-300{
       font-weight: 300 !important; 
    }
  }
  .text-500 {
  font-weight: 500 !important;
}
